*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding: 4em 0;
    background-color: #819daf;
}

section{
    background-color: white;
    height: 100%;
}

h1{
    padding-top: 1em;
    text-align: center;
    font-size: 3em;
    padding-bottom: 0.2em;
}

section>p{
    text-align: center;
    padding-bottom: 2em;
}

span{
    color: #327dc4;
    padding-left: 0.5em;
}


img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1em;
}

.container{
    width: 27%;
    background-color: #819daf;
    border-radius: 1em;
}

.container h2{
    font-size: 28px;
    padding: 0.8em 0.5em;
}
.container p{
    font-size: 20px;
    line-height: 1.5;
    padding-left: 0.5em;
    padding-bottom: 1.2em;
}

.container a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    background-color: #327dc4;
    margin-left: 0.5em;
    margin-bottom: 1.2em;
    padding: 1em 2em;
    border-radius: 2em;
}
.outer-container{
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
}
