body{
    display: flex;
    background-color: #EEE;
    padding: 5rem;
    flex-wrap: wrap;
    gap: 1.5em;
}

body>*{
    padding: 2rem;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

header, footer{
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

aside nav{
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
}

header nav{
    display: flex;
    flex: 5 1 auto;
}

header h1{
    flex: 3 1 auto;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
}

header nav li{
    list-style: none;
    display: inline;
}

header nav li a{
    text-decoration: none;
    color: rgb(53, 100, 153);
    padding: 5px 15px;
}

main{
    flex: 8 1 40rem;
}

aside{
    flex: 2 1 19rem;
    padding: 1em 2em 2em 0.2em;
}

aside li{
    list-style: none;
    margin-bottom: 1em;
}

aside a{
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    header, main, aside, footer{
        flex: 1 1 auto;
    }
}

@media screen and (max-width: 500px){
    header{
        flex-direction: column;
    }

    header nav ul{
        flex-direction: column;
        padding: 0;
    }
    header nav li{
        padding: 0.5em 0.5em 0.5em 0;
    }
}