*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4{
    border: 2px solid black;
    width: 18em;
    margin: 0 auto;
    position: relative;
    top: 3em;
    z-index: 1;
    background: white;
}

.timeline{
    height: 100vh;
    border: 0.3rem solid rgb(153, 153, 153);
    margin: 1em;
    padding: 4em;
}

.timeline::before{
    display: block;
    content: '';
    width: 0.5em;
    height: 98%;
    background-color: rgb(153, 153, 153);
    position: absolute;
    top: 3.5em;
    left: 50%;
}

.timeline article:nth-child(odd):before {
    display: block;
    content: '';
    width: 2em;
    height: 2em;
    background: green;
    border-radius: 50%;
    position: absolute;
    border: 4px solid #999;
    left: -27.3%;
}

.timeline article:nth-child(even):before {
    display: block;
    content: '';
    width: 2em;
    height: 2em;
    background: orange;
    border-radius: 50%;
    position: absolute;
    border: 4px solid #999;
    left: 122.6%;
}


h3{
    font-style: italic;
}

article {
    width: 40%;
    margin-bottom: 2em;
    position: relative;
}

article:nth-child(odd){
    margin-left: auto;
}

@media screen and (max-width: 1024px) {
    .timeline article:nth-child(odd):before {
        left: -29.6%;
    }

    .timeline article:nth-child(even):before {
        left: 120.4%;
    }
}

@media screen and (max-width: 768px){
    article {
        margin-bottom: 0.5em;
    }

    .timeline{
        padding: 2.5em 1.5em 0 1.5em;
    }
    .timeline::before {
        left: 50.5%;
    }
}

@media screen and (max-width: 425px){
    h4{
        width: 21em;
    }

    article{
        width: 85%;
        padding-bottom: 0.8em;
        margin-left: auto;
    }

    article header{
        padding-bottom: 0.3em;
    }

    .timeline::before {
        left: 11%;
    }

    .timeline article:nth-child(odd):before {
        left: -19.6%;
        width: 1em;
        height: 1em;
    }

    .timeline article:nth-child(even):before {
        width: 1em;
        height: 1em;
        left: -19.5%;
    }
}