*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

header{
    padding: 2em;
    border-bottom: 2px solid;
    margin-bottom: 2em;
}

body{
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
    padding: 0 2em 2em 2em;
}

h2, p{
    margin-bottom: 1.5em;
}

footer{
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    padding: 1em 0 1em 1.5em;
}